/* Fuente principal */
@font-face {
  font-family: Learning-Curve;
  src: url('/fonts/LearningCurve.ttf') format('truetype');

}

/* Fuente para los encabezados */
@font-face {
  font-family: Snell;
  src: url('/fonts/SnellBT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Fuente de la tienda */
@font-face {
  font-family: Snell-Bold;
  src: url('/fonts/SnellBT-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-VariableFont.ttf') format('truetype');
}


:root {
  --primary-font: 'Learning-Curve', sans-serif;
  --heading-font: 'Snell', sans-serif;
  --shop-font: 'Montserrat', monospace;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: var(--primary-font);
  
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;

}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: Snell, sans-serif;
  font-weight: normal;
}

/*
  10. Create a root stacking context
*/
#root {
  isolation: isolate;
}

main {
  padding: 1rem;
}